<launch>

        <!-- Launch the simulator demo -->
        <include file="$(find bacchus_gazebo)/launch/vineyard_demo.launch" />
        <arg name="world_name" value="/opt/lcas/ros_ws/src/bacchus_lcas/bacchus_gazebo/worlds/vineyard_small_s4_coarse.world"/>

        <!-- individual programs can be passed __ns:="/thorvald__001" on the rosrun cmd --> 


        <!-- Publish aggregated object distance information around robot -->
        <node pkg="andy_ass1" name="object_distance" type="object_distance.py" />

        <!-- Publish object distance as pose -->
        <node pkg="andy_ass1" name="object_distance_tf" type="object_distance_tf.py"  />
                
        <!-- Uses object distance to avoid obstacles and moves randomly 
        <node pkg="andy_ass1" name="open_mover" type="open_move.py" ns="/thorvald_001" />  -->

        <node pkg="andy_ass1" name="main_display" type="main_display.py"  />

  
        
</launch>